[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
numpy = "*"
scipy = "*"
peakutils = "*"
shapely = "*"
opencv-python = "*"
click = "*"
pyyaml = "*"
matplotlib = "*"
pytesseract = "*"
pandas = "*"
csvkit = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
